In [140]:
import pandas as pd 
import numpy as np 
import statsmodels.api as sm 
import matplotlib.pyplot as plt

In [141]:
daily_ret = pd.read_csv('return_daily.csv', index_col='Unnamed: 0')
# daily_ret = daily_ret.rename(columns={'Unnamed: 0': 'ISIN CODE'})
daily_ret

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
DE0005190003,0.009048,0.014069,0.009148,-0.011331,-0.014364,-0.034109,0.012520,0.009195,-0.006912,0.011705,...,0.000974,-0.011877,-0.004532,-0.011580,-0.005407,0.010369,NaN,NaN,0.003789,0.001391
DE0007100000,-0.005603,-0.003329,-0.009155,0.000259,0.008556,-0.031749,0.008330,0.019979,-0.012972,0.006571,...,0.017350,-0.012093,-0.009887,-0.010303,0.001602,0.007675,NaN,NaN,-0.011136,0.007079
DE0007664005,0.015633,0.001348,0.008022,0.014982,-0.010064,-0.024413,0.007301,-0.012360,-0.008695,-0.002749,...,-0.015091,-0.006855,-0.001218,0.003659,-0.024706,-0.000831,NaN,NaN,-0.015520,-0.000426
US88262P1021,0.056468,-0.025180,-0.008330,-0.025210,-0.002762,-0.005882,0.015308,-0.040771,-0.004639,NaN,...,-0.004190,0.003218,0.015602,-0.008406,0.002683,-0.001372,0.014055,-0.000903,-0.023769,-0.016063
DE0005439004,0.068941,0.006240,0.138334,0.022166,-0.063386,-0.043002,0.043728,-0.018061,-0.019836,0.026566,...,0.010582,-0.008377,-0.000528,0.004754,-0.002366,0.005534,NaN,NaN,0.008179,0.007590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CA98474P5013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.024096,0.012346,0.012195,0.024096,0.000000,0.000000,NaN,NaN,0.023256,-0.011364
JP3955800002,-0.010000,0.008418,-0.050083,-0.010545,-0.001776,0.017794,-0.005245,-0.001757,0.007042,-0.031469,...,-0.009804,0.000000,-0.019802,0.030303,-0.009804,0.009901,NaN,NaN,0.000000,0.009804
CA98936C8584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,NaN,NaN,0.000000,0.000000
GB00BF44KY60,-0.024390,-0.025000,0.000000,0.000000,0.076923,0.214286,0.254902,-0.234375,0.000000,-0.081633,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000
mean,0.036674,-0.007240,0.067905,-0.009042,0.039345,0.025866,-0.070765,0.021773,-0.002867,0.044787,...,0.005457,-0.000130,0.002568,0.000428,-0.003369,0.003074,3.273909,-0.763625,-0.009605,-0.001829

In [142]:
market_ret = daily_ret[daily_ret.index == 'mean']
market_ret = market_ret.reset_index()
market_ret = market_ret.drop(columns='index')
# market_ret = market_ret.to_numpy()
market_ret
# print((market_ret))

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,0.036674,-0.00724,0.067905,-0.009042,0.039345,0.025866,-0.070765,0.021773,-0.002867,0.044787,...,0.005457,-0.00013,0.002568,0.000428,-0.003369,0.003074,3.273909,-0.763625,-0.009605,-0.001829

In [143]:
mret_na = market_ret.dropna()
mret_na

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,0.036674,-0.00724,0.067905,-0.009042,0.039345,0.025866,-0.070765,0.021773,-0.002867,0.044787,...,0.005457,-0.00013,0.002568,0.000428,-0.003369,0.003074,3.273909,-0.763625,-0.009605,-0.001829

In [144]:
asset_i_ret_DE0005190003 = daily_ret[daily_ret.index == 'DE0005190003']
asset_i_ret_DE0005190003 = asset_i_ret_DE0005190003.reset_index()
asset_i_ret_DE0005190003 = asset_i_ret_DE0005190003.drop(columns='index')
# asset_i_ret_DE0005190003 = asset_i_ret_DE0005190003.to_numpy()
asset_i_ret_DE0005190003
# print((asset_i_ret_DE0005190003))

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,0.009048,0.014069,0.009148,-0.011331,-0.014364,-0.034109,0.01252,0.009195,-0.006912,0.011705,...,0.000974,-0.011877,-0.004532,-0.01158,-0.005407,0.010369,NaN,NaN,0.003789,0.001391

In [145]:
X = sm.add_constant(market_ret)

In [146]:
model = sm.OLS(asset_i_ret_DE0005190003, X).fit()

In [147]:
model.params

,0,1,2,3,4,5,6,7,8,9,...,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612
2010-01-05,8.518027e-07,1.324465e-06,8.611577e-07,-1.066689e-06,-1.352240e-06,-3.210939e-06,1.178625e-06,8.655764e-07,-6.506615e-07,1.101910e-06,...,9.173542e-08,-1.118083e-06,-4.266393e-07,-1.090088e-06,-5.090117e-07,9.761709e-07,NaN,NaN,3.567289e-07,1.309303e-07
2010-01-06,-1.681598e-07,-2.614711e-07,-1.700066e-07,2.105820e-07,2.669543e-07,6.338920e-07,-2.326799e-07,-1.708790e-07,1.284512e-07,-2.175352e-07,...,-1.811008e-08,2.207278e-07,8.422559e-08,2.152013e-07,1.004873e-07,-1.927121e-07,NaN,NaN,-7.042414e-08,-2.584779e-08
2010-01-07,1.577191e-06,2.452368e-06,1.594513e-06,-1.975073e-06,-2.503796e-06,-5.945348e-06,2.182332e-06,1.602694e-06,-1.204759e-06,2.040288e-06,...,1.698566e-07,-2.070233e-06,-7.899618e-07,-2.018398e-06,-9.424819e-07,1.807470e-06,NaN,NaN,6.605164e-07,2.424295e-07
2010-01-08,-2.100088e-07,-3.265419e-07,-2.123153e-07,2.629883e-07,3.333897e-07,7.916452e-07,-2.905856e-07,-2.134047e-07,1.604182e-07,-2.716720e-07,...,-2.261703e-08,2.756592e-07,1.051863e-07,2.687572e-07,1.254950e-07,-2.406713e-07,NaN,NaN,-8.795021e-08,-3.228038e-08
2010-01-11,9.138421e-07,1.420930e-06,9.238784e-07,-1.144380e-06,-1.450727e-06,-3.444801e-06,1.264468e-06,9.286189e-07,-6.980512e-07,1.182166e-06,...,9.841679e-08,-1.199516e-06,-4.577127e-07,-1.169483e-06,-5.460846e-07,1.047268e-06,NaN,NaN,3.827106e-07,1.404664e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,7.140590e-08,1.110288e-07,7.219012e-08,-8.941966e-08,-1.133571e-07,-2.691703e-07,9.880313e-08,7.256053e-08,-5.454440e-08,9.237222e-08,...,7.690102e-09,-9.372791e-08,-3.576481e-08,-9.138116e-08,-4.267002e-08,8.183158e-08,NaN,NaN,2.990428e-08,1.097578e-08
2023-12-26,7.604071e-05,1.182354e-04,7.687583e-05,-9.522371e-05,-1.207149e-04,-2.866416e-04,1.052162e-04,7.727028e-05,-5.808477e-05,9.836791e-05,...,8.189251e-06,-9.981160e-05,-3.808623e-05,-9.731252e-05,-4.543964e-05,8.714310e-05,NaN,NaN,3.184531e-05,1.168819e-05
2023-12-27,-1.773616e-05,-2.757789e-05,-1.793095e-05,2.221051e-05,2.815621e-05,6.685788e-05,-2.454122e-05,-1.802295e-05,1.354801e-05,-2.294388e-05,...,-1.910107e-06,2.328061e-05,8.883445e-06,2.269772e-05,1.059860e-05,-2.032574e-05,NaN,NaN,-7.427778e-06,-2.726219e-06
2023-12-28,-2.230776e-07,-3.468625e-07,-2.255275e-07,2.793539e-07,3.541363e-07,8.409088e-07,-3.086686e-07,-2.266847e-07,1.704009e-07,-2.885779e-07,...,-2.402447e-08,2.928133e-07,1.117320e-07,2.854818e-07,1.333044e-07,-2.556482e-07,NaN,NaN,-9.342330e-08,-3.428917e-08
2023-12-29,-4.248488e-08,-6.605959e-08,-4.295148e-08,5.320266e-08,6.744489e-08,1.601502e-07,-5.878561e-08,-4.317186e-08,3.245268e-08,-5.495936e-08,...,-4.575436e-09,5.576597e-08,2.127925e-08,5.436971e-08,2.538769e-08,-4.868792e-08,NaN,NaN,-1.779237e-08,-6.530337e-09