In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math

c:\Users\veren\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_cleaned = pd.read_csv('P_VO_RI.csv')
df_cleaned

,Unnamed: 0,datatype,2010-01-04 00:00:00,2010-01-05 00:00:00,2010-01-06 00:00:00,2010-01-07 00:00:00,2010-01-08 00:00:00,2010-01-11 00:00:00,2010-01-12 00:00:00,2010-01-13 00:00:00,...,2023-12-15 00:00:00,2023-12-18 00:00:00,2023-12-19 00:00:00,2023-12-20 00:00:00,2023-12-21 00:00:00,2023-12-22 00:00:00,2023-12-26 00:00:00,2023-12-27 00:00:00,2023-12-28 00:00:00,2023-12-29 00:00:00
0,US30231G1022,P#S,69.1500,69.4200,70.0200,69.8000,69.5200,70.3000,69.9500,69.67,...,100.90,101.65,102.99,101.27,101.73,101.91,102.14,101.66,100.19,99.98
1,US1667641005,P#S,79.0600,79.6200,79.6300,79.3300,79.4700,80.8800,80.4100,79.80,...,149.35,149.68,151.64,150.25,150.71,151.05,152.41,151.91,149.77,149.16
2,US20825C1045,P#S,40.0828,40.1209,40.4106,40.2505,40.6012,40.8375,39.9684,40.22,...,114.54,114.90,116.49,116.69,116.83,117.66,119.02,118.49,116.50,116.07
3,US26875P1012,P#S,50.1900,49.5750,49.7400,49.2750,49.5250,49.0700,47.7100,48.88,...,120.11,121.62,122.53,121.43,121.08,122.27,124.30,124.27,121.33,120.95
4,DE0005190003,P#S,32.0500,32.3400,32.7950,33.0950,32.7200,32.2500,31.1500,31.54,...,102.72,101.50,101.04,99.87,99.33,100.36,NaN,100.28,100.66,100.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,AU0000224040,RI,696.3700,702.7600,696.4800,707.6600,701.6200,710.0600,706.8700,706.98,...,880.06,884.78,894.21,905.53,896.10,908.36,908.36,897.04,885.72,894.21
866,CA98474P5013,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.00,54.67,55.33,56.33,56.67,56.33,56.33,57.00,58.33,58.00
867,JP3955800002,RI,150.5100,149.1600,150.2600,142.6800,141.3800,140.9300,143.5400,142.73,...,755.79,755.79,740.83,763.28,755.79,763.28,763.28,763.28,775.23,782.83
868,CA98936C8584,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.22,0.23,0.22,0.25,0.25,0.24,0.24,0.25,0.25,0.23
869,GB00BF44KY60,RI,29.2900,28.5700,27.8600,27.8600,27.8600,30.0000,36.4300,45.71,...,0.14,0.14,0.15,0.16,0.16,0.16,0.16,0.16,0.16,0.16

In [3]:
df_dates = df_cleaned.copy().drop(columns=['Unnamed: 0', 'datatype'])
df_dates.columns = pd.to_datetime(df_dates.columns, errors='coerce')
df_dates

,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,69.1500,69.4200,70.0200,69.8000,69.5200,70.3000,69.9500,69.67,69.6800,69.1100,...,100.90,101.65,102.99,101.27,101.73,101.91,102.14,101.66,100.19,99.98
1,79.0600,79.6200,79.6300,79.3300,79.4700,80.8800,80.4100,79.80,79.5500,79.2300,...,149.35,149.68,151.64,150.25,150.71,151.05,152.41,151.91,149.77,149.16
2,40.0828,40.1209,40.4106,40.2505,40.6012,40.8375,39.9684,40.22,40.3877,40.4182,...,114.54,114.90,116.49,116.69,116.83,117.66,119.02,118.49,116.50,116.07
3,50.1900,49.5750,49.7400,49.2750,49.5250,49.0700,47.7100,48.88,49.0000,48.4350,...,120.11,121.62,122.53,121.43,121.08,122.27,124.30,124.27,121.33,120.95
4,32.0500,32.3400,32.7950,33.0950,32.7200,32.2500,31.1500,31.54,31.8300,31.6100,...,102.72,101.50,101.04,99.87,99.33,100.36,NaN,100.28,100.66,100.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,696.3700,702.7600,696.4800,707.6600,701.6200,710.0600,706.8700,706.98,711.5400,691.6900,...,880.06,884.78,894.21,905.53,896.10,908.36,908.36,897.04,885.72,894.21
866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.00,54.67,55.33,56.33,56.67,56.33,56.33,57.00,58.33,58.00
867,150.5100,149.1600,150.2600,142.6800,141.3800,140.9300,143.5400,142.73,142.6300,143.4900,...,755.79,755.79,740.83,763.28,755.79,763.28,763.28,763.28,775.23,782.83
868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.22,0.23,0.22,0.25,0.25,0.24,0.24,0.25,0.25,0.23
869,29.2900,28.5700,27.8600,27.8600,27.8600,30.0000,36.4300,45.71,35.0000,35.0000,...,0.14,0.14,0.15,0.16,0.16,0.16,0.16,0.16,0.16,0.16

In [4]:
df_head = df_cleaned.copy()
df_head = df_head.drop(df_head.iloc[:,2:], axis=1)
df_head = df_head.rename(columns={'Unnamed: 0': 'ISIN CODE'})
# df_head

In [5]:
df = pd.concat([df_head, df_dates], axis=1)
df

,ISIN CODE,datatype,2010-01-04 00:00:00,2010-01-05 00:00:00,2010-01-06 00:00:00,2010-01-07 00:00:00,2010-01-08 00:00:00,2010-01-11 00:00:00,2010-01-12 00:00:00,2010-01-13 00:00:00,...,2023-12-15 00:00:00,2023-12-18 00:00:00,2023-12-19 00:00:00,2023-12-20 00:00:00,2023-12-21 00:00:00,2023-12-22 00:00:00,2023-12-26 00:00:00,2023-12-27 00:00:00,2023-12-28 00:00:00,2023-12-29 00:00:00
0,US30231G1022,P#S,69.1500,69.4200,70.0200,69.8000,69.5200,70.3000,69.9500,69.67,...,100.90,101.65,102.99,101.27,101.73,101.91,102.14,101.66,100.19,99.98
1,US1667641005,P#S,79.0600,79.6200,79.6300,79.3300,79.4700,80.8800,80.4100,79.80,...,149.35,149.68,151.64,150.25,150.71,151.05,152.41,151.91,149.77,149.16
2,US20825C1045,P#S,40.0828,40.1209,40.4106,40.2505,40.6012,40.8375,39.9684,40.22,...,114.54,114.90,116.49,116.69,116.83,117.66,119.02,118.49,116.50,116.07
3,US26875P1012,P#S,50.1900,49.5750,49.7400,49.2750,49.5250,49.0700,47.7100,48.88,...,120.11,121.62,122.53,121.43,121.08,122.27,124.30,124.27,121.33,120.95
4,DE0005190003,P#S,32.0500,32.3400,32.7950,33.0950,32.7200,32.2500,31.1500,31.54,...,102.72,101.50,101.04,99.87,99.33,100.36,NaN,100.28,100.66,100.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,AU0000224040,RI,696.3700,702.7600,696.4800,707.6600,701.6200,710.0600,706.8700,706.98,...,880.06,884.78,894.21,905.53,896.10,908.36,908.36,897.04,885.72,894.21
866,CA98474P5013,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.00,54.67,55.33,56.33,56.67,56.33,56.33,57.00,58.33,58.00
867,JP3955800002,RI,150.5100,149.1600,150.2600,142.6800,141.3800,140.9300,143.5400,142.73,...,755.79,755.79,740.83,763.28,755.79,763.28,763.28,763.28,775.23,782.83
868,CA98936C8584,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.22,0.23,0.22,0.25,0.25,0.24,0.24,0.25,0.25,0.23
869,GB00BF44KY60,RI,29.2900,28.5700,27.8600,27.8600,27.8600,30.0000,36.4300,45.71,...,0.14,0.14,0.15,0.16,0.16,0.16,0.16,0.16,0.16,0.16

In [6]:
def logreturns(P1, P2):
    R = math.log(P2/P1)
    return R

In [7]:
def returns(P1, P2):
    R = ((P1-P2)/P2)
    return R

In [8]:
def logreturns_dividends(P1, P2, D):
    R = math.log((P2+D)/P1)
    return R

In [9]:
def total_return_index(Ri1, P1, P2, D):
    Ri2 = Ri1*((P2+D)/P1)
    return Ri2

In [10]:
uni_isin = []

for code in df['ISIN CODE']:
    if code not in uni_isin:
        uni_isin.append(code)

print(uni_isin)

['US30231G1022', 'US1667641005', 'US20825C1045', 'US26875P1012', 'DE0005190003', 'DE0007100000', 'US37045V1008', 'DE0007664005', 'US6745991058', 'US78454L1008', 'US3453708600', 'US26884L1098', 'US88262P1021', 'US1270971039', 'US25179M1036', 'US3724601055', 'US0556301077', 'US12653C1080', 'US2057683029', 'DE0005439004', 'DE000A0XYG76', 'DE0007856023', 'US6267171022', 'US6655313079', 'US69047Q1022', 'US75281A1097', 'US0240611030', 'US0528001094', 'US0997241064', 'US21676P1030', 'US22757R1095', 'US2358252052', 'DE0005146807', 'BMG383271050', 'DE0005895403', 'US5218652049', 'CA5817631099', 'US5906601068', 'US5538591091', 'US6593101065', 'CA70557Y1051', 'US7142361069', 'US69291A1007', 'US7856881021', 'DE000SAFH001', 'US7982411057', 'US8536661056', 'US86183P1021', 'US8681681057', 'US91851C2017', 'US92922P1066', 'AU000000TDO8', 'AU00000088E2', 'CA00791P1071', 'AU000000ADX9', 'GB00B4X3Q493', 'CA00829Q1019', 'JP3102000001', 'NO0010345853', 'CA02148X2059', 'AU0000340770', 'AU0000361909', 'US03743Q1085', 'CA04274P1053', 'GB00BJVH7905', 'ID1000122807', 'CA04682R1073', 'CA07317Q1054', 'AU000000BPT9', 'IM00BKSCP798', 'CA08184N1006', 'CA0906971035', 'NO0010379266', 'GB0007980591', 'JP3830800003', 'BMG1368B1028', 'GB00B12WC938', 'AU000000CE10', 'CA1348083025', 'CA1363851017', 'GB00BNKT5L33', 'AU000000CVN8', 'GB00B1W0VW36', 'CA15135U1093', 'CA15138B3065', 'AU000000CTP7', 'CA1254055066', 'US16936R1059', 'ES0105630315', 'BMG2155Y1075', 'HK0883013259', 'CA19682H1073', 'FR0000054132', 'JP3551500006', 'NO0003921009', 'CNE100000312', 'CA27580T1075', 'GB00BF0YPG76', 'CA2907371058', 'GB00B09G2351', 'IT0003132476', 'GB00B635TG28', 'GB0031775819', 'NO0010096985', 'GB00B03CJS30', 'US30049A1079', 'CA3060711015', 'JP3166900005', 'CH0009320091', 'AU000000FZR3', 'CA34416F1036', 'FR0000121147', 'NL0015001KT6', 'CA35954F1080', 'JP3827600002', 'ID1000086002', 'PTGAL0AM0009', 'IT0004098510', 'KYG3777B1032', 'US3719011096', 'US37253A1034', 'US3825501014', 'US38500T2006', 'CNE100000338', 'JP3385820000', 'CNE100000Q35', 'GB00BMBVGQ36', 'CA4220961078', 'JP3854600008', 'AU000000HZN8', 'US44183U2096', 'KYG2116D1198', 'CA4457373070', 'JP3142500002', 'CA4530384086', 'GG00B39HF298', 'JP3294460005', 'CA45780T2065', 'JP3421100003', 'SG1B51001017', 'JP3292200007', 'AU000000JPR6', 'VGG5214E1034', 'AU000000KAR6', 'CA50043K4063', 'NO0003033102', 'BMG5320C1082', 'AU000000LKO0', 'IT0005619843', 'CA53278L1076', 'US5018892084', 'CA5592224011', 'US5658491064', 'CA5734591046', 'FR0000051070', 'JP3868400007', 'CA5527041084', 'US5927701012', 'FR001400AJ45', 'KYG6145U1094', 'JP3899800001', 'HU0000153937', 'ID1000101207', 'CA5730741017', 'CA62931J1021', 'JP3742600004', 'JP3672400003', 'JP3738600000', 'FI0009005318', 'JP3720800006', 'JP3165600002', 'AU000000NGY3', 'CA67072Q1046', 'CA6744822033', 'CA6807671004', 'AT0000743059', 'FR0000124570', 'AU000000OEL3', 'AU000000PCL4', 'NO0010564701', 'GB00B125SX82', 'CA6993202069', 'IM00B292WR19', 'BRPETRACNOR9', 'CA71677J1012', 'CA7170461064', 'GB00B572ZV91', 'IT0003056386', 'BMG713292081', 'AU000000PVE9', 'AT0000A00XX9', 'AU0000070328', 'CA74360U1021', 'TH0646010Z00', 'TH0355A10Z04', 'CNE1000003Y4', 'CA74836K1003', 'FR0000131906', 'ES0173516115', 'US76665T1025', 'US76680V1089', 'GB00B0FVQX23', 'CA77544C1041', 'CA7815861025', 'JP3975800008', 'AU000000STO6', 'CA80412L8832', 'GB00BJ5JNL69', 'CA09560Q1054', 'CA8193201024', 'GB00BP6MXD84', 'CA82621E1060', 'TH0823010002', 'CA8428133059', 'CA84652L2075', 'JP3399400005', 'GB00BZ042C28', 'NL00150001Q9', 'AU000000STX7', 'JP3814800003', 'JP3407400005', 'CA8672241079', 'GB00B01QGH57', 'CA86880Y8779', 'JP3397200001', 'CA87377N2005', 'US88160R1014', 'SE0020180917', 'KYG876361257', 'CA88581L3039', 'FR0000120271', 'GA0000121459', 'CA89156L1085', 'CA89156V1067', 'GB00BZ6D6J81', 'CA89185T1066', 'JP3610600003', 'JP3635400009', 'JP3634600005', 'JP3633400001', 'GB0001500809', 'GB00BS3D4G58', 'US9118053076', 'FR0013176526', 'CA9191444020', 'CA92340V1076', 'CA9237251058', 'US92839U2069', 'CA96467A2002', 'AU0000224040', 'CA98474P5013', 'JP3955800002', 'CA98936C8584', 'GB00BF44KY60']