In [1]:
import pandas as pd 
import numpy as np 
import statsmodels.api as sm 
import matplotlib.pyplot as plt

c:\Users\veren\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
daily_ret = pd.read_csv('return_daily.csv', index_col='Unnamed: 0')
# daily_ret = daily_ret.rename(columns={'Unnamed: 0': 'ISIN CODE'})
daily_ret

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
DE0005190003,0.009048,0.014069,0.009148,-0.011331,-0.014364,-0.034109,0.012520,0.009195,-0.006912,0.011705,...,0.000974,-0.011877,-0.004532,-0.011580,-0.005407,0.010369,NaN,NaN,0.003789,0.001391
DE0007100000,-0.005603,-0.003329,-0.009155,0.000259,0.008556,-0.031749,0.008330,0.019979,-0.012972,0.006571,...,0.017350,-0.012093,-0.009887,-0.010303,0.001602,0.007675,NaN,NaN,-0.011136,0.007079
DE0007664005,0.015633,0.001348,0.008022,0.014982,-0.010064,-0.024413,0.007301,-0.012360,-0.008695,-0.002749,...,-0.015091,-0.006855,-0.001218,0.003659,-0.024706,-0.000831,NaN,NaN,-0.015520,-0.000426
US88262P1021,0.056468,-0.025180,-0.008330,-0.025210,-0.002762,-0.005882,0.015308,-0.040771,-0.004639,NaN,...,-0.004190,0.003218,0.015602,-0.008406,0.002683,-0.001372,0.014055,-0.000903,-0.023769,-0.016063
DE0005439004,0.068941,0.006240,0.138334,0.022166,-0.063386,-0.043002,0.043728,-0.018061,-0.019836,0.026566,...,0.010582,-0.008377,-0.000528,0.004754,-0.002366,0.005534,NaN,NaN,0.008179,0.007590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CA98474P5013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.024096,0.012346,0.012195,0.024096,0.000000,0.000000,NaN,NaN,0.023256,-0.011364
JP3955800002,-0.010000,0.008418,-0.050083,-0.010545,-0.001776,0.017794,-0.005245,-0.001757,0.007042,-0.031469,...,-0.009804,0.000000,-0.019802,0.030303,-0.009804,0.009901,NaN,NaN,0.000000,0.009804
CA98936C8584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,NaN,NaN,0.000000,0.000000
GB00BF44KY60,-0.024390,-0.025000,0.000000,0.000000,0.076923,0.214286,0.254902,-0.234375,0.000000,-0.081633,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000
mean,0.036674,-0.007240,0.067905,-0.009042,0.039345,0.025866,-0.070765,0.021773,-0.002867,0.044787,...,0.005457,-0.000130,0.002568,0.000428,-0.003369,0.003074,3.273909,-0.763625,-0.009605,-0.001829

In [3]:
market_ret = daily_ret[daily_ret.index == 'mean']
market_ret = market_ret.reset_index()
market_ret = market_ret.drop(columns='index')
# market_ret = market_ret.to_numpy()
market_ret
# print((market_ret))

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,0.036674,-0.00724,0.067905,-0.009042,0.039345,0.025866,-0.070765,0.021773,-0.002867,0.044787,...,0.005457,-0.00013,0.002568,0.000428,-0.003369,0.003074,3.273909,-0.763625,-0.009605,-0.001829

In [4]:
mret_na = market_ret.dropna()
mret_na

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,0.036674,-0.00724,0.067905,-0.009042,0.039345,0.025866,-0.070765,0.021773,-0.002867,0.044787,...,0.005457,-0.00013,0.002568,0.000428,-0.003369,0.003074,3.273909,-0.763625,-0.009605,-0.001829

In [5]:
asset_i_ret = daily_ret.drop('mean', axis=0)
asset_i_ret = asset_i_ret.reset_index()
asset_i_ret = asset_i_ret.drop(columns='index')
asset_i_ret

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-12-15,2023-12-18,2023-12-19,2023-12-20,2023-12-21,2023-12-22,2023-12-26,2023-12-27,2023-12-28,2023-12-29
0,0.009048,0.014069,0.009148,-0.011331,-0.014364,-0.034109,0.012520,0.009195,-0.006912,0.011705,...,0.000974,-0.011877,-0.004532,-0.011580,-0.005407,0.010369,NaN,NaN,0.003789,0.001391
1,-0.005603,-0.003329,-0.009155,0.000259,0.008556,-0.031749,0.008330,0.019979,-0.012972,0.006571,...,0.017350,-0.012093,-0.009887,-0.010303,0.001602,0.007675,NaN,NaN,-0.011136,0.007079
2,0.015633,0.001348,0.008022,0.014982,-0.010064,-0.024413,0.007301,-0.012360,-0.008695,-0.002749,...,-0.015091,-0.006855,-0.001218,0.003659,-0.024706,-0.000831,NaN,NaN,-0.015520,-0.000426
3,0.056468,-0.025180,-0.008330,-0.025210,-0.002762,-0.005882,0.015308,-0.040771,-0.004639,NaN,...,-0.004190,0.003218,0.015602,-0.008406,0.002683,-0.001372,0.014055,-0.000903,-0.023769,-0.016063
4,0.068941,0.006240,0.138334,0.022166,-0.063386,-0.043002,0.043728,-0.018061,-0.019836,0.026566,...,0.010582,-0.008377,-0.000528,0.004754,-0.002366,0.005534,NaN,NaN,0.008179,0.007590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,0.009296,-0.009211,0.016268,-0.008494,0.011862,-0.004559,0.000327,0.006540,-0.027940,0.008021,...,0.007559,0.005359,0.010661,0.012658,-0.010417,0.013684,NaN,NaN,-0.012618,0.009585
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.024096,0.012346,0.012195,0.024096,0.000000,0.000000,NaN,NaN,0.023256,-0.011364
215,-0.010000,0.008418,-0.050083,-0.010545,-0.001776,0.017794,-0.005245,-0.001757,0.007042,-0.031469,...,-0.009804,0.000000,-0.019802,0.030303,-0.009804,0.009901,NaN,NaN,0.000000,0.009804
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,NaN,NaN,0.000000,0.000000
217,-0.024390,-0.025000,0.000000,0.000000,0.076923,0.214286,0.254902,-0.234375,0.000000,-0.081633,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000

In [6]:
X = sm.add_constant(market_ret)

In [7]:
model = sm.OLS(asset_i_ret, X).fit()

ValueError: The indices for endog and exog are not aligned

In [ ]:
model.params