In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

c:\Users\veren\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_cleaned = pd.read_csv('P_VO_RI.csv')
df_cleaned

,Unnamed: 0,datatype,2010-01-04 00:00:00,2010-01-05 00:00:00,2010-01-06 00:00:00,2010-01-07 00:00:00,2010-01-08 00:00:00,2010-01-11 00:00:00,2010-01-12 00:00:00,2010-01-13 00:00:00,...,2023-12-15 00:00:00,2023-12-18 00:00:00,2023-12-19 00:00:00,2023-12-20 00:00:00,2023-12-21 00:00:00,2023-12-22 00:00:00,2023-12-26 00:00:00,2023-12-27 00:00:00,2023-12-28 00:00:00,2023-12-29 00:00:00
0,US30231G1022,P#S,69.1500,69.4200,70.0200,69.8000,69.5200,70.3000,69.9500,69.67,...,100.90,101.65,102.99,101.27,101.73,101.91,102.14,101.66,100.19,99.98
1,US1667641005,P#S,79.0600,79.6200,79.6300,79.3300,79.4700,80.8800,80.4100,79.80,...,149.35,149.68,151.64,150.25,150.71,151.05,152.41,151.91,149.77,149.16
2,US20825C1045,P#S,40.0828,40.1209,40.4106,40.2505,40.6012,40.8375,39.9684,40.22,...,114.54,114.90,116.49,116.69,116.83,117.66,119.02,118.49,116.50,116.07
3,US26875P1012,P#S,50.1900,49.5750,49.7400,49.2750,49.5250,49.0700,47.7100,48.88,...,120.11,121.62,122.53,121.43,121.08,122.27,124.30,124.27,121.33,120.95
4,DE0005190003,P#S,32.0500,32.3400,32.7950,33.0950,32.7200,32.2500,31.1500,31.54,...,102.72,101.50,101.04,99.87,99.33,100.36,NaN,100.28,100.66,100.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,AU0000224040,RI,696.3700,702.7600,696.4800,707.6600,701.6200,710.0600,706.8700,706.98,...,880.06,884.78,894.21,905.53,896.10,908.36,908.36,897.04,885.72,894.21
866,CA98474P5013,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.00,54.67,55.33,56.33,56.67,56.33,56.33,57.00,58.33,58.00
867,JP3955800002,RI,150.5100,149.1600,150.2600,142.6800,141.3800,140.9300,143.5400,142.73,...,755.79,755.79,740.83,763.28,755.79,763.28,763.28,763.28,775.23,782.83
868,CA98936C8584,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.22,0.23,0.22,0.25,0.25,0.24,0.24,0.25,0.25,0.23
869,GB00BF44KY60,RI,29.2900,28.5700,27.8600,27.8600,27.8600,30.0000,36.4300,45.71,...,0.14,0.14,0.15,0.16,0.16,0.16,0.16,0.16,0.16,0.16